.flip-horizontal-bottom {
	animation: flip-horizontal-bottom 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.flip-horizontal-bottom:hover {
	animation: flip-horizontal-bottom 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.tracking-in-contract-bck-top {
	animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.text-focus-in {
	animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.kenburns-top {
	-webkit-animation: kenburns-top 10s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite alternate-reverse both;
	        animation: kenburns-top 10s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite alternate-reverse both;
}
.simple-linear {
  background: linear-gradient(blue, cyan);
}
.simple-linear-b {
  background: linear-gradient(red, yellow);
}
/* Estilo del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Fondo oscuro transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Z-index alto para que esté por encima de otros elementos */
}

.modal-dialog {
  background: #fff; /* Fondo blanco */
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0,3); /* Sombra */
  max-width: 80%; /* Tamaño máximo del modal */
  width: 600px; /* Ancho del modal */
}

.modal-content {
  padding: 20px;
}

/* Estilo del botón de cierre */
.modal-content button {
  background: #3b82f6; /* Fondo azul para el botón de cierre */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}


@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg); /* Ajustado a -360deg para un giro completo */
  }
}

@keyframes flip-horizontal-bottom-hover {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg); /* Ajustado a -360deg para un giro completo */
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}


